button {
    box-sizing: border-box;
    border-radius: 0.5em;
    border: .01em solid black;
    box-shadow: 6px 9px 15px -10px #000000;
}

input {
    box-sizing: border-box;
    border-radius: .5em;
    border: .01em solid black;
    box-shadow: 6px 9px 15px -10px #000000;
}

ul {
    list-style: none;
}